{{>licenseInfo}}
import * as Resources from './resources';

{{#models}}
{{#model}}
{{#description}}
/**
 * {{{description}}}
 */
{{/description}}
{{^isEnum}}
export interface {{classname}} {{#parent}}extends {{{parent}}} {{/parent}}{
{{#vars}}
{{#description}}
    /**
     * {{{description}}}
     */
{{/description}}
    {{name}}{{^required}}?{{/required}}: {{{datatype}}};
{{/vars}}
}
{{/isEnum}}
{{#isEnum}}
export type {{classname}} = [
{{#allowableValues}}
{{#enumVars}}
    {{{value}}} {{^-last}}|{{/-last}}
{{/enumVars}}
{{/allowableValues}}
]
{{/isEnum}}
{{/model}}
{{/models}}
